@inject SCAPI.WebFront.IAppSettingsService AppSettingsService
@{
    var paginatedSubCategories = ViewBag.SubCategories as List<SCAPI.WebFront.Controllers.AllSubCategories>;
    var Filtercatories = ViewBag.Categories as List<SCAPI.WebFront.Controllers.ServiceCat>;
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="main-wrapper">

    <div class="bg-img">
        <img src="~/assets/img/bg/work-bg-03.png" alt="img" class="bgimg1">
        <img src="~/assets/img/bg/work-bg-03.png" alt="img" class="bgimg2">
        <img src="~/assets/img/bg/feature-bg-03.png" alt="img" class="bgimg3">
    </div>

    <!-- Breadcrumb -->
    <div class="breadcrumb-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title">Find a Professional</h2>
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Find a Professional</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <div class="content">
        <div class="container">
            <div class="row">
                <!-- Filter -->
                <div class="col-lg-3 col-sm-12 theiaStickySidebar">
                    @if (Filtercatories == null)
                    {
                        <p><em>Loading...</em></p>
                    }
                    else
                    {
                        <form onsubmit="event.preventDefault(); updateUrlAndSubmit();">
                            <div class="filter-div">
                                <div class="filter-head">
                                    <h5>Filter by</h5>
                                    <a href="#" class="reset-link">Reset Filters</a>
                                </div>
                                <div class="row filter-content">
                                    <h2>Categories <span><i class="feather-chevron-down"></i></span></h2>
                                    <div class="filter-checkbox" id="fill-more">
                                        <ul>
                                            <li>
                                                <label class="checkboxs">
                                                    <input type="checkbox" id="checkAllCategories" onclick="toggleCheckboxes('checkAllCategories', 'categoryCheckbox')">
                                                    <span><i></i></span>
                                                    <b class="check-content">All Categories</b>
                                                </label>
                                            </li>

                                            @{
                                                string serviceCatoryName = !string.IsNullOrEmpty(ViewContext.HttpContext.Request.Query["serviceCategoryName"].ToString()) ? ViewContext.HttpContext.Request.Query["serviceCategoryName"] : "";
                                            }

                                            @foreach (var category in Filtercatories)
                                            {
                                                <li>
                                                    <label class="checkboxs">
                                                        <input type="checkbox" name="ServiceCatoryName" class="categoryCheckbox" value="@category.CategoryName"
                                                        @(serviceCatoryName.Split(',').Contains(category.CategoryName) ? "checked" : "")>
                                                        <span><i></i></span>
                                                        <b class="check-content">@category.CategoryName</b>
                                                    </label>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <div class="row filter-content">
                                    <h2>Location</h2>
                                    <div class="group-img">

                                        @{
                                            string uCity = !string.IsNullOrEmpty(ViewContext.HttpContext.Request.Query["CityName"].ToString()) ? ViewContext.HttpContext.Request.Query["CityName"] : "Sharjah";
                                        }

                                        <input type="text" name="CityName" id="CityName" value="@uCity" class="form-control" placeholder="Select Location">
                                        <i class="feather-map-pin"></i>
                                    </div>
                                </div>
                                <div class="row filter-content">
                                    <h2 class="mb-4">Price Range</h2>
                                    @{
                                        string _rangeStart = !string.IsNullOrEmpty(ViewContext.HttpContext.Request.Query["rangeStart"].ToString()) ? ViewContext.HttpContext.Request.Query["rangeStart"] : "";
                                        string _rangeEnd = !string.IsNullOrEmpty(ViewContext.HttpContext.Request.Query["rangeEnd"].ToString()) ? ViewContext.HttpContext.Request.Query["rangeEnd"] : "";
                                    }
                                    <div class="row filter-range">
                                        <div class="col">
                                            <input type="number" class="form-control" id="rangeStart" name="rangeStart" value="@(ViewContext.HttpContext.Request.Query["rangeStart"])">
                                        </div>
                                        -
                                        <div class="col">
                                            <input type="number" class="form-control" id="rangeEnd" name="rangeEnd" value="@(ViewContext.HttpContext.Request.Query["rangeEnd"])">
                                        </div>
                                    </div>
                                    <div class="filter-range-amount">
                                        <h5>Price: <span>AED@(ViewContext.HttpContext.Request.Query["rangeStart"]) - AED@(ViewContext.HttpContext.Request.Query["rangeEnd"])</span></h5>
                                    </div>
                                </div>
                                <input type="submit" value="Search" class="btn btn-primary" />
                            </div>
                        </form>
                    }
                </div>
                <!-- /Filter -->
                <!-- Service -->
                <div class="col-lg-9 col-sm-12">
                    <div class="row sorting-div">
                        <div class="col-lg-4 col-sm-12 ">
                            <div class="count-search">
                                <h6>Found @paginatedSubCategories.Count Services On Search</h6>
                            </div>
                        </div>
                    </div>
                    @if (paginatedSubCategories == null)
                    {
                        <p><em>Loading Sub Categories...</em></p>
                    }
                    else
                    {
                        <div class="row">
                            @{
                                string CustomerProtalUrl = ViewBag.CustomerUrl;
                                string AdminProtalUrl = ViewBag.AdminUrl;
                               
                            }
                            @foreach (var _subcat in paginatedSubCategories)
                            {
                                string ImgUrl = $"{AdminProtalUrl}{_subcat.ServiceImage}";
                                string MerchantListUrl = ViewBag.CustomerUrl + "MerchantList/SelectedMerchantList?catName=" + _subcat.ServiceName;
                                <!-- Service List -->
                                <div class="col-xl-4 col-md-6">
                                    <div class="service-widget servicecontent">
                                        <div class="service-img">
                                            <a href="@MerchantListUrl" target="_blank">
                                                <img class="img-fluid serv-img" alt="Service Image" src="@ImgUrl">
                                            </a>
                                            <div class="fav-item">
                                                <a href="@MerchantListUrl" target="_blank"><span class="item-cat">@_subcat.ServiceName</span></a>
                                                @* <a href="javascript:void(0)" class="fav-icon">
                                                    <i class="feather-heart"></i>
                                                </a> *@
                                            </div>
                                           @*  <div class="item-info">
                                                <a href="#"><span class="item-img"><img src="~/assets/img/profiles/avatar-01.jpg" class="avatar" alt="User"></span></a>
                                            </div> *@
                                        </div>
                                        <div class="service-content">
                                            <h3 class="title">
                                                <a href="@MerchantListUrl" target="_blank">@_subcat.ServiceName</a>
                                            </h3>
                                            @* <p>
                                                <span class="rate"><i class="fas fa-star filled"></i>4.9</span>
                                            </p> *@
                                            <div class="serv-info">
                                                <h6>AED @_subcat.ServicePrice</h6>
                                                @* <a href="#booking.html" class="btn btn-book">Discount</a> *@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    
                </div>
                <!-- /Service -->
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap Core JS -->
<script src="~/assets/js/bootstrap.bundle.min.js"></script>
<!-- Fearther JS -->
<script src="~/assets/js/feather.min.js"></script>
<!-- Owl Carousel JS -->
<script src="~/assets/js/owl.carousel.min.js"></script>
<!-- select JS -->
<script src="~/assets/plugins/select2/js/select2.min.js"></script>
<!-- Aos -->
<script src="~/assets/plugins/aos/aos.js"></script>
<!-- Top JS -->
<script src="~/assets/js/backToTop.js"></script>
<!-- Custom JS -->
<script src="~/assets/js/script.js"></script>
<script language="javascript">

    function toggleCheckboxes(masterCheckboxId, checkboxesClass) {
        const masterCheckbox = document.getElementById(masterCheckboxId);
        const checkboxes = document.getElementsByClassName(checkboxesClass);

        for (let i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = masterCheckbox.checked;
        }
    }
        function updateUrlAndSubmit() {
            // Get all checked checkboxes
            var checkedCategories = [];
            var checkboxes = document.querySelectorAll('.categoryCheckbox:checked');
            checkboxes.forEach(function (checkbox) {
                checkedCategories.push(checkbox.value);
            });
            console.log("Checked Categories: " + checkedCategories.join(','));

            // Get the city name from the form
            var cityName = document.getElementById("CityName").value;
            console.log("City Name: " + cityName);

            // Get the price range values
            var rangeStart = parseInt(document.getElementById("rangeStart").value);
            var rangeEnd = parseInt(document.getElementById("rangeEnd").value);
            console.log("Range Start: " + rangeStart);
            console.log("Range End: " + rangeEnd);

            // Validate the price range
            if (rangeStart > rangeEnd) {
                alert("Range start should be less than or equal to range end");
                return;
            }

            // Create the new URL with the comma-separated ServiceCategoryName
            var newUrl = '/Categories/Index?CityName=' + encodeURIComponent(cityName) +
                '&serviceCategoryName=' + encodeURIComponent(checkedCategories.join(',')) +
                '&rangeStart=' + encodeURIComponent(rangeStart) +
                '&rangeEnd=' + encodeURIComponent(rangeEnd);

            console.log("New URL: " + newUrl);

            // Redirect to the new URL
            window.location.href = newUrl;
        }
        const baseIpAddress = "@AppSettingsService.GetBaseIpAddress()";
        console.log("Base IP Address: " + baseIpAddress);
         const apiBaseUrl = "https://"+baseIpAddress+":1501";
    $(document).ready(function () {
        $("#CityName").autocomplete({
            source: function (request, response) {
                console.log(request);
                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: apiBaseUrl+"/api/MainPage/GetCities/" + request.term,
                    dataType: "json",
                    crossDomain: true,
                    format: "json",
                    success: function (data) {
                        console.log('message: ' + "success" + JSON.stringify(data));

                        // Extract city names and create an array
                        var cityNames = data.map(function (city) {
                            return city.Name;
                        });
                        console.log(cityNames)
                        response(cityNames); // Pass the city names array to the response callback

                    },
                    error: function (error) {
                        console.log('message Error' + JSON.stringify(error));
                    }
                });
            }
        });

    });
</script>