@{
    var paginatedSubCategories = ViewBag.ResponseForDisCountFromMerchant as AFFZ_Customer.Controllers.RequestForDisCountToUserViewModel;
    ViewData["Title"] = "Index";
    decimal FINALPRICE = paginatedSubCategories.FINALPRICE;
    double vat = (Convert.ToDouble(FINALPRICE) * 0.05);// + 50;
    double Service_charge = 50;
    double Final = Convert.ToDouble(FINALPRICE) + vat;
    Final = Final + (Final * 0.10);
}
<script src="https://js.stripe.com/v3/"></script>
<!-- Booking -->
<div class="col-lg-9">

    <!-- Booking Step -->
    <ul class="step-register row">
        @* <li class="activate col-md-4">
        <div class="multi-step-icon">
        <span><img src="~/assets/img/icons/calendar-icon.svg" alt="img"></span>
        </div>
        <div class="multi-step-info">
        <h6>Appointment</h6>
        <p>Choose time & date for the service</p>
        </div>
        </li> *@
        <li class="active col-md-4">
            <div class="multi-step-icon">
                <span><img src="~/assets/img/icons/wallet-icon.svg" alt="img"></span>
            </div>
            <div class="multi-step-info">
                <h6>Payment</h6>
            </div>
        </li>

    </ul>
   
    <form method="post" action="PaymentDone">
        <input type="hidden" name="AMOUNT" id="hiddenAmount" value="@Final" />
        <input type="hidden" name="PAYERID" value="@paginatedSubCategories.UID" />
        <input type="hidden" name="MERCHANTID" value="@paginatedSubCategories.MerchantID" />
        <input type="hidden" name="SERVICEID" value="@paginatedSubCategories.SID" />
        <input type="hidden" name="RFDFU" value="@paginatedSubCategories.RFDFU" />
        <input type="hidden" id="NoOfQuantity" name="NoOfQuantity" value="1" />
        <div class="product">
            Payment Details
            <div class="description">
                

            </div>
        </div>

        <div class="col-lg-6">
            <h5 class="pay-title">Booking Summary</h5>
            <div class="summary-box">
                <div class="booking-info">
                    <div class="service-book">
                        <div class="service-book-img">
                            <img src="~/assets/img/booking.jpg" alt="img">
                        </div>
                    </div>
                </div>
                <div class="booking-summary" style="padding-bottom:25px">
                    <ul class="booking-date">
                        <li>Date <span>@DateTime.Now.ToString("dd/MM/yyyy")</span></li>
                        <li>Time <span>@DateTime.Now.ToString("HH:mm ")</span></li>
                        <li>Service Provider <span>Smart Center</span></li>
                    </ul>
                    <ul class="booking-date">
                        <li>Subtotal <span>@paginatedSubCategories.FINALPRICE AED</span></li>
                        <li>Convenient Charges <span>10%</span></li>
                        <!--li>Vat &commat; 5% <span>@vat AED</span></li-->
                    </ul>
                    <!-- Counter for Quantity -->
                    <div>
                        <label for="quantity">Quantity:</label>
                        <button type="button" id="decrement" class="btn btn-secondary">-</button>
                        <input type="text" id="quantity" value="1" readonly style="width: 40px; text-align: center;" />
                        <button type="button" id="increment" class="btn btn-secondary">+</button>
                    </div>
                    <div class="booking-total">
                        <ul class="booking-total-list">
                            <li>
                                <span>Total</span>
                                <span class="total-cost" id="totalCost">@Final AED</span>
                            </li>
                            <li style="float:right;font-size:10px">
                                Vat &commat; 5% Included
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="booking-pay">
                <input type="submit" class="btn btn-primary btn-pay w-100" id="sbtn" value="Proceed to Pay AED @Final" />

                @* <a href="javascript:void(0);" class="btn btn-secondary btn-skip">Skip</a> *@
            </div>
        </div>
    </form>
    @* <form action="/create-checkout-session" method="POST">
    <button type="submit" id="checkout-button">Checkout</button>
    </form> *@
    <!-- /Booking Payment -->

</div>


<!-- jQuery -->
<script src="~/assets/js/jquery-3.7.0.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="~/assets/js/bootstrap.bundle.min.js"></script>

<!-- Fearther JS -->
<script src="~/assets/js/feather.min.js"></script>

<!-- select CSS -->
<script src="~/assets/plugins/select2/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        var basePrice = @FINALPRICE; // Initial total cost
        var vat = @vat; // Initial VAT value
        var serviceCharge = @Service_charge; // Service charge
        var quantity = 1;

        // Update total cost based on quantity
        function updateTotalCost() {
            var subtotal = basePrice * quantity;
            console.log(subtotal);
            vat = (subtotal * 0.05);// + 50;
            console.log(vat); console.log(serviceCharge * quantity);
            var total = subtotal + vat + (serviceCharge * quantity);
            console.log(total);
            $('#totalCost').text(total.toFixed(2) + " AED");
            $('#hiddenAmount').val(total.toFixed(2));
            $('#sbtn').val("Proceed to Pay AED "+total.toFixed(2));
        }

        // Increment quantity
        $('#increment').click(function() {
            quantity++;
            $('#quantity').val(quantity);
            $('#NoOfQuantity').val(quantity);
            updateTotalCost();
        });

        // Decrement quantity
        $('#decrement').click(function() {
            if (quantity > 1) {
                quantity--;
                $('#quantity').val(quantity);
                $('#NoOfQuantity').val(quantity);
                updateTotalCost();
            }
        });
    });
</script>
<!-- Custom JS -->
<script src="~/assets/js/script.js"></script>
