@model AFFZ_Customer.Controllers.FileUploadViewModel

@{
    var paginatedSubCategories = ViewBag.SaveResponse as AFFZ_Customer.Controllers.FileUploadViewModel;
    ViewData["Title"] = "ReViewDocuments";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Upload Documents</title>

    <!-- CSS links -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="assets/css/feather.css">
    <link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div class="main-wrapper">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 theiaStickySidebar">
                        <div class="settings-widget">
                            <div class="settings-header">
                                <div class="settings-img">
                                    <img src="assets/img/profiles/avatar-02.jpg" alt="user">
                                </div>
                                <h6>John Smith</h6>
                                <p>Member Since Sep 2021</p>
                            </div>
                            <div class="settings-menu">
                                <ul>
                                    <li><a href="customer-dashboard.html"><i class="feather-grid"></i> Dashboard</a></li>
                                    <li><a href="customer-booking.html"><i class="feather-smartphone"></i> Bookings</a></li>
                                    <li><a href="customer-favourite.html"><i class="feather-heart"></i> Favorites</a></li>
                                    <li><a href="MerchantResponseToUser/Index" class="active"><i class="feather-credit-card"></i> Merchant Response</a></li>
                                    <li><a href="customer-reviews.html"><i class="feather-star"></i> Reviews</a></li>
                                    <li><a href="customer-chat.html"><i class="feather-message-circle"></i> Chat</a></li>
                                    <li><a href="customer-profile.html"><i class="feather-settings"></i> Settings</a></li>
                                    <li><a href="index.html"><i class="feather-log-out"></i> Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        @*  <h6 class="user-title">Upload Your Documents</h6>
                        <form method="post" enctype="multipart/form-data" asp-action="UploadDocuments">
                        <div class="form-group">
                        <label for="fileUpload">Choose Files:</label>
                        <input type="file" class="form-control" id="fileUpload" name="Files" accept=".pdf,.jpg,.png" multiple />
                        </div>
                        <div class="alert alert-danger" role="alert" style="display: none;" id="fileError">
                        Please select at least one file to upload.
                        </div>
                        <input type="submit" class="btn btn-primary" value="Upload Files" />
                        </form> *@
                        <div class="table-responsive">
                            <table class="table mb-0 custom-table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>File Name</th>
                                        <th>File Type</th>
                                        <th>File Size</th>
                                        <th>Download</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (paginatedSubCategories.UploadedFiles == null)
                                    {
                                        <p><em>Loading Sub Categories...</em></p>
                                    }
                                    else
                                    {
                                        @foreach (var file in paginatedSubCategories.UploadedFiles)
                                        {
                                            <tr>
                                                <td></td>
                                                <td>@file.FileName</td>
                                                <td>@file.ContentType</td>
                                                <td>@file.FileSize</td>
                                                <td>@file.Status</td>
                                                <td>
                                                    @if (@file.Status != "Verified")
                                                    {
                                                        <form asp-controller="MerchantResponseToUser" asp-action="VerifyDocument" method="post" style="display:inline;">
                                                            <input type="hidden" name="documentId" value="@file.UFID" />
                                                            <input type="hidden" name="userId" value="@ViewBag.UserId" />
                                                            <button type="submit" class="btn btn-success">Verify</button>
                                                        </form>
                                                        <form asp-controller="MerchantResponseToUser" asp-action="ResendDocument" method="post" style="display:inline;">
                                                            <input type="hidden" name="documentId" value="@file.UFID" />
                                                            <input type="hidden" name="userId" value="@ViewBag.UserId" />
                                                            <button type="submit" class="btn btn-warning">Resend</button>
                                                        </form>
                                                    }
                                                    @if (@file.Status == "Verified")
                                                    {
                                                        <a asp-action="DownloadFile" asp-route-fileName="@file.FileName" asp-route-folderName="@file.FolderName" class="btn btn-sm badge-success">Download</a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery-3.7.0.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/feather.min.js"></script>
    <script src="assets/plugins/select2/js/select2.min.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>
    <script src="assets/js/script.js"></script>
    <script>
        $(document).ready(function () {
            var responseMessage = @ViewBag.SaveResponse;
            console.log(responseMessage);
            if (responseMessage != "") {
                // Show popup with the response message
                alert(responseMessage);
            }
            $("#fileUpload").change(function () {
                var fileInput = $(this)[0];
                var files = fileInput.files;

                var fileList = "";
                for (var i = 0; i < files.length; i++) {
                    var file = files[i];
                    fileList += file.name + "<br>";
                }

                $("#selectedFiles").html(fileList);
            });

            $("form").submit(function () {
                if ($("#fileUpload")[0].files.length === 0) {
                    $("#fileError").show();
                    return false;
                }
                $("#fileError").hide();
                return true;
            });
        });
    </script>
</body>
</html>
