@using AFFZ_Customer.Utils
@inject NotificationService NotificationService

@{
    var notifications = await NotificationService.GetNotificationsAsync();
    var username = await NotificationService.GetUserName();
    ViewBag.userId = await NotificationService.GetUserId();
    var ReferralCode = await NotificationService.GetReferralCode();
    var WalletPoints = await NotificationService.GetWalletPoints();
    var cartItemCount = await NotificationService.GetCartItemCount();

}
<style>
    .feather-shopping-cart:hover {
        color: #fff !important;
    }
</style>
<header class="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg header-nav">
            <div class="navbar-header">
                <a id="mobile_btn" href="javascript:void(0);">
                    <span class="bar-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </a>
                <a href="index.html" class="navbar-brand logo">
                    <img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
                </a>
                <a href="index.html" class="navbar-brand logo-small">
                    <img src="/assets/img/logo-small.png" class="img-fluid" alt="Logo">
                </a>
            </div>
            <div class="main-menu-wrapper">
                <div class="menu-header">
                    <a href="index.html" class="menu-logo">
                        <img src="/assets/img/logo.svg" class="img-fluid" alt="Logo">
                    </a>
                    <a id="menu_close" class="menu-close" href="javascript:void(0);"> <i class="fas fa-times"></i></a>
                </div>
                <ul class="main-nav">

                    <li class="login-link">
                        <a href="choose-signup.html">Register</a>
                    </li>
                    <li class="login-link">
                        <a href="login.html">Login</a>
                    </li>
                </ul>
            </div>
            <ul class="nav header-navbar-rht noti-pop-detail">
                <!-- Chat -->
                <li class="nav-item logged-item msg-nav">
                    <a href="/UserChats" class="nav-link">
                        <img src="/assets/img/icons/message-icon.svg" alt="Message Icon">
                    </a>
                </li>
                <!-- /Chat -->
                <!-- Cart Icon with Item Count -->
                <li class="nav-item logged-item cart-nav  noti-nav noti-wrapper">
                    <a href="/Cart" class="nav-link">
                        <span class="cart-count notification-count noti-message">@cartItemCount</span>
                        @* <img src="/assets/img/icons/cart-icon.svg" alt="Cart Icon"> *@
                        <i style="color:#000" class="feather-shopping-cart"></i>


                    </a>
                </li>
                <!-- /Cart Icon -->
                <!-- Notifications -->
                <li class="nav-item dropdown logged-item noti-nav noti-wrapper">
                    <a href="#" class="dropdown-toggle nav-link notify-link" data-bs-toggle="dropdown">
                        @* <span class="noti-message">@notifications.Where(a => a.IsRead == false).ToList().Count</span> *@
                        <span class="notification-count noti-message">@notifications.Count(a => !a.IsRead)</span>
                        <img src="/assets/img/icons/bell-icon.svg" alt="Bell">
                    </a>
                    <div class="dropdown-menu notify-blk notifications">
                        <div class="topnav-dropdown-header">
                            @* <div>
                                <p class="notification-title">Notifications <span>@notifications.Where(a => a.IsRead == false).ToList().Count</span></p>
                            </div> *@
                            <span class="notification-title">Notifications <bold><span class="notification-count">@notifications.Count(a => !a.IsRead)</span></bold></span>
                            <a href="javascript:void(0)" class="clear-noti" onclick="markAllAsRead(@ViewBag.userId)">Mark all as read</a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                @foreach (var notification in notifications)
                                {
                                    string style = notification.IsRead ? "font-weight:100" : "";
                                    <li class="notification-message">
                                        <a href="javascript:void(0)" onclick="markAsReadAndRedirect(@notification.Id, '@notification.RedirectToActionUrl',this)">

                                            <div class="media noti-img  d-flex">
                                                <span class="avatar avatar-sm flex-shrink-0">
                                                    <img class="avatar-img rounded-circle" alt="user" src="/assets/img/provider/provider-01.jpg">
                                                </span>
                                                <div class="media-body flex-grow-1">
                                                    <p class="noti-details">
                                                        <span class="noti-title" style="@style">@notification.Message</span>
                                                    </p>
                                                    <p class="noti-time">
                                                        <span class="notification-time">@notification.CreatedDate.ToString("g")</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="notification.html">View All Notifications</a>
                        </div>
                    </div>
                </li>
                <!-- /Notifications -->
                <!-- User Menu -->
                <li class="nav-item dropdown has-arrow account-item">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <div class="user-infos">
                            <span class="user-img">
                                @* <img src="/assets/img/profiles/user.png" class="rounded-circle" alt="User Image"> *@
                                <img src="@Url.Action("GetImage", "Login")" class="rounded-circle" alt="User Image">
                            </span>
                            <div class="user-info">
                                <h6>@username</h6>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end emp">
          
                        <a class="dropdown-item" href="#">
                            <i class="feather-briefcase me-2"></i> Wallet: @WalletPoints
                        </a>
                        <a class="dropdown-item referral-copy" href="#" onclick="copyReferralCode('@ReferralCode')">
                            <i class="feather-users me-2"></i> Referral: @ReferralCode
                        </a>
                        <a class="dropdown-item" href="/Profile">
                            <i class="feather-user me-2"></i> Profile
                        </a>
                        <a class="dropdown-item" href="@Url.Action("Logout", "Login")">
                            <i class="feather-log-out me-2"></i> Logout
                        </a>
                    </div>
                </li>
                <!-- /User Menu -->
            </ul>
        </nav>
    </div>
</header>
<script>
    function copyReferralCode(referralCode) {
        navigator.clipboard.writeText(referralCode)
            .then(() => {
                alert("Referral Code copied to clipboard: " + referralCode);
            })
            .catch(err => {
                console.error("Failed to copy text: ", err);
                alert("Failed to copy Referral Code.");
            });
    }
</script>