@using AFFZ_Provider.Utils
@using Microsoft.AspNetCore.DataProtection
@inject NotificationService NotificationService
@{
    var notifications = await NotificationService.GetNotificationsAsync();
    var Username = await NotificationService.GetUserName();
    ViewBag.MerchantId = NotificationService.GetMerchantId();
    var controllerName = ViewContext.RouteData.Values["controller"]?.ToString();
    var IsActive = await NotificationService.GetProviderIsActive();
}
<style>
    #profile-tab .active
    {
        color: black;
        font-weight: bold;
        border: 1px solid #000;
    }
</style>
<div class="header">
    <div class="header-left">
        <a href="Dashboard" class="logo">
            <img src="/assets/img/logo.png" alt="Logo" width="30" height="30">
        </a>
        <a href="Dashboard" class=" logo-small">
            <img src="/assets/img/logo-small.png" alt="Logo" width="30" height="30">
        </a>
    </div>
    <a class="mobile_btn" id="mobile_btn" href="javascript:void(0);">
        <i class="fas fa-align-left"></i>
    </a>

    <div class="header-split">
        <div class="page-headers">
            @if (IsActive == "In Active")
            {
                @* <span style="font-weight: bold;font-size: 17px;text-align: center !important;color: darkred;border: 1px solid #ccc;padding: 10px;box-shadow: 5px 5px aliceblue;">
                    <i class="bi bi-exclamation-triangle"></i>
                    Profile Is In active.
                </span> *@
                <div class="alert alert-warning d-flex align-items-center" role="alert" style="padding: 5px;">
                    <i class="fa-solid fa-triangle-exclamation text-warning me-2" style="font-size: 1.5rem;"></i>
                    <div>
                        <strong>Account Not Activated:</strong> Your account is not yet activated. Please click <a href="/Profile">Here</a> to complete the required steps to activate your account and access all features.
                        @* <div class="mt-2">
                            <a href="/support" class="btn btn-sm btn-primary">
                                <i class="bi bi-envelope-fill"></i> Contact Support
                            </a>
                            <a href="/activation-instructions" class="btn btn-sm btn-outline-secondary">
                                <i class="bi bi-info-circle-fill"></i> Learn How to Activate
                            </a>
                        </div> *@
                    </div>
                </div>
            }
            <div class="search-bar">
                
                    
               
                @* <span><input type="text" placeholder="Search" class="form-control"></span> *@
            </div>
        </div>
        <ul class="nav user-menu">
            <li class="nav-item">
                <a href="http://192.168.0.115:7204/" class="viewsite"><i class="fe fe-globe me-2"></i>View Site</a>
            </li>
            <li class="nav-item dropdown has-arrow dropdown-heads flag-nav">
                <a class="nav-link" data-bs-toggle="dropdown" href="javascript:void(0);" role="button">
                    <img src="/assets/img/flags/us1.png" alt="Flag" height="20">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="javascript:void(0);" class="dropdown-item">
                        <img src="/assets/img/flags/us.png" class="me-2" alt="Flag" height="16"> English
                    </a>
                    <a href="javascript:void(0);" class="dropdown-item">
                        <img src="/assets/img/flags/fr.png" class="me-2" alt="Flag" height="16"> French
                    </a>
                    <a href="javascript:void(0);" class="dropdown-item">
                        <img src="/assets/img/flags/es.png" class="me-2" alt="Flag" height="16"> Spanish
                    </a>
                    <a href="javascript:void(0);" class="dropdown-item">
                        <img src="/assets/img/flags/de.png" class="me-2" alt="Flag" height="16"> German
                    </a>
                </div>
            </li>
            <!-- Notifications -->
            <li class="nav-item dropdown has-arrow dropdown-heads noti-wrapper">
                <a href="#" class="dropdown-toggle nav-link notify-link" data-bs-toggle="dropdown">
                    @* <span class="noti-message">@notifications.Where(a => a.IsRead == false).ToList().Count</span> *@
                    <span class="notification-count noti-message">@notifications.Count(a => !a.IsRead)</span>
                    <img src="/assets/img/icons/bell-icon.svg" alt="Bell">
                </a>
                <div class="dropdown-menu notifications">
                    <div class="topnav-dropdown-header">
                        <span class="notification-title">Notifications <bold><span class="notification-count">@notifications.Count(a => !a.IsRead)</span></bold></span>
                        <a href="javascript:void(0)" class="clear-noti" onclick="markAllAsRead(@ViewBag.MerchantId,this)">Mark all as read</a>
                    </div>
                    <div class="noti-content">
                        <ul class="notification-list">
                            @foreach (var notification in notifications)
                            {
                                string style = notification.IsRead ? "font-weight:100" : "";
                                <li class="notification-message">
                                    <a href="javascript:void(0)" onclick="markAsReadAndRedirect(@notification.Id, '@notification.RedirectToActionUrl', this)">

                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="user" src="@Url.Action("GetImage", "Login")">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details">
                                                    <span class="noti-title" style="@style">@notification.Message</span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">@notification.CreatedDate.ToString("g")</span>
                                                </p>
                                                @* <p class="noti-details" style="@style">@notification.Message</p>
                                            <p class="noti-time"><span class="notification-time">@notification.CreatedDate.ToString("g")</span></p> *@
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="topnav-dropdown-footer">
                        <a href="notification.html">View All Notifications</a>
                    </div>
                </div>
            </li>
            <!-- /Notifications -->
            <li class="nav-item  has-arrow dropdown-heads ">
                <a href="#" class="win-maximize">
                    <i class="feather-maximize"></i>
                </a>
            </li>

            <!-- User Menu -->
            <li class="nav-item dropdown">
                <a href="javascript:void(0)" class="user-link  nav-link" data-bs-toggle="dropdown">
                    <span class="user-img">
                        <img class="rounded-circle" src="@Url.Action("GetImage", "Login")" width="40" alt="Admin">
                        <span class="animate-circle"></span>
                    </span>
                    <span class="user-content">
                        <span class="user-name">@Username</span>
                        @* <span class="user-details">Demo User</span> *@
                    </span>
                </a>
                <div class="dropdown-menu menu-drop-user">
                    <div class="profilemenu ">
                        <div class="subscription-menu">
                            <ul>
                                <li>
                                    <a class="dropdown-item" href="/Profile">
                                        <i class="feather-user me-2"></i> Profile
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="@Url.Action("Logout", "Login")">
                                        <i class="feather-log-out me-2"></i> Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <!-- /User Menu -->
        </ul>
    </div>

</div>
@section Scripts{
    
}