@model AFFZ_Provider.Models.Service
@{

}
<h2>Create Service</h2>

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-12 m-auto">
                <div class="progressbar-card">
                    <ul id="progress-head">
                        <li class="active">Add Service - Service Information</li>
                    </ul>
                    <ul id="progressbar">
                        <li class="active">
                            <div class="multi-step-icon">
                                <span><i class="far fa-check-circle"></i></span>
                            </div>
                            <div class="multi-step-info">
                                <h6>Information</h6>
                            </div>
                        </li>

                    </ul>
                </div>
                <h2>Delete Service</h2>

                <div class="alert alert-danger">
                    Are you sure you want to delete this service?
                </div>

                <div>
                    <strong>Service Name:</strong> @Model.ServiceName
                </div>

                <div>
                    <strong>Service Price:</strong> @Model.ServicePrice
                </div>

                <div>
                    <strong>Amount to Pay to Admin:</strong> @Model.ServiceAmountPaidToAdmin
                </div>

                @using (Html.BeginForm("MerchantServiceDeleteConfirmed", "MerchantService", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a href="@Url.Action("MerchantServiceIndex", "MerchantService")" class="btn btn-secondary">Cancel</a>
                }
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="~/assets/js/jquery-3.7.0.min.js"></script>

<!-- Select 2 JS-->
<script src="~/assets/js/select2.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="~/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Bootstrap Tagsinput JS -->
<script src="~/assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>

<!-- Feather Icon JS -->
<script src="~/assets/js/feather.min.js"></script>

<!-- Datatable JS -->
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/dataTables.bootstrap4.min.js"></script>

<!-- Ck Editor JS -->
<script src="~/assets/js/ckeditor.js"></script>

<!-- Slimscroll JS -->
<script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Sweetalert 2 -->
<script src="~/assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script src="~/assets/plugins/sweetalert/sweetalerts.min.js"></script>

<!-- Datetimepicker JS -->
<script src="~/assets/js/moment.min.js"></script>
<script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>

<!-- Custom JS -->
<script src="~/assets/js/admin.js"></script>