<!-- Views/Message/Create.cshtml -->
@model AFFZ_Provider.Models.ChatterMessage
@{
    var paginatedSubCategories = ViewBag.SubCategoriesWithMerchant as List<AFFZ_Provider.Controllers.RequestForDisCountToUserViewModel>;
    var paginatedContactMessages = ViewBag.ChatMessageList as List<AFFZ_Provider.Models.ChatterMessage>;
    ViewData["Title"] = "Index";
}
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        @* <div class="page-header">
            <div class="row">
                <div class="col-md-4">
                    <div class="provider-subtitle">
                        <h6>Messages</h6>
                    </div>
                </div>
            </div>
        </div> *@
        <div class="row">
            <div class="col-md-12">
                <div class="provide-table manage-table">
                    <!-- Display messages -->
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["SuccessMessage"]
                        </div>
                    }
                    @if (TempData["FailMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["FailMessage"]
                        </div>
                    }
                    <div class="content">
                        <div class="container">
                            <div class="customer-chat">
                                <div class="row chat-window">
                                    <!-- Chat Content -->
                                    <div class="col-lg-9 chat-cont-right chat-window-long">
                                        <div class="card chat-window mb-0">
                                            <div class="card-header msg_head">
                                                <div class="d-flex bd-highlight">
                                                    <a id="back_user_list" href="javascript:void(0)" class="back-user-list">
                                                        <i class="fas fa-chevron-left"></i>
                                                    </a>
                                                    <div class="img_cont">
                                                        <img class="rounded-circle user_img" src="assets/img/profiles/chat-profile-01.jpg" alt="User">
                                                    </div>
                                                    <div class="user_info">
                                                        <span id="contactName">Hendrita</span>
                                                        @* <p class="mb-0 active">Online</p> *@
                                                    </div>
                                                </div>
                                                <div class="chat-options">
                                                    <ul>
                                                        <li><a href="#"><i class="feather-volume-2"></i></a></li>
                                                        <li><a href="#"><i class="feather-search"></i></a></li>
                                                        <li><a href="#"><i class="feather-video"></i></a></li>
                                                        <li><a href="#" class="chat-profile-open"><i class="feather-user" id="task_chat"></i></a></li>
                                                        <li><a href="#" class="with-bg"><i class="feather-more-horizontal"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="card-body msg_card_body chat-scroll pt-0" id="chatMessages">
                                                <ul class="list-unstyled">
                                                    <!-- Messages will be dynamically added here -->
                                                    @foreach (var item in paginatedContactMessages)
                                                    {
                                                        string ClassIsReciverOrSender = (ViewBag.CurrentUser == item.SenderId.ToString() ? " sent " : " received ");
                                                        <li class="media @ClassIsReciverOrSender d-flex">
                                                            <div class="avatar flex-shrink-0">
                                                                @* <img src="~/assets/img/profiles/(@item.SenderId == senderId ? 'chat-profile-02' : 'chat-profile-01').jpg" alt="User Image" class="avatar-img rounded-circle"> *@
                                                                <img src="~/assets/img/profiles/chat-profile-01.jpg" alt="User Image" class="avatar-img rounded-circle">
                                                            </div>
                                                            <div class="media-body flex-grow-1">
                                                                <div class="msg-box">
                                                                    <div>
                                                                        <p>@item.MessageContent</p>
                                                                    </div>
                                                                    <span class="drop-item message-more-option">
                                                                        <a href="#" class="more-vertical-bar" data-bs-toggle="dropdown" aria-expanded="false">
                                                                            <i class="feather-more-vertical"></i>
                                                                        </a>
                                                                        <small class="dropdown-menu">
                                                                            <a class="dropdown-item" href="#"><i class="feather-copy me-2"></i>Copy</a>
                                                                            <a class="dropdown-item" href="#"><i class="feather-trash-2 me-2"></i>Delete</a>
                                                                        </small>
                                                                    </span>
                                                                    <ul class="chat-msg-info name-date">
                                                                        <li>@item.SenderId</li>
                                                                        <li>
                                                                            <span class="chat-time">@(string.Format("{0:hh:mm tt}", item.MessageTimestamp))</span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                            <form asp-action="SendMessage" method="post">
                                                <div class="card-footer">
                                                    <div class="input-group">
                                                        <div class="btn-file btn">
                                                            <i class="feather-plus"></i>
                                                            <input type="file">
                                                        </div>
                                                        @Html.Hidden("SenderId")
                                                        @Html.Hidden("ReceiverId")
                                                        @* <input class="form-control type_msg mh-auto empty_check" placeholder="Write your message..."> *@
                                                        <textarea asp-for="MessageContent" class="form-control type_msg mh-auto empty_check"></textarea>
                                                        <div class="send-action">
                                                            <a href="javascript:void(0);"><i class="fa-solid fa-face-smile"></i></a>
                                                            <a href="javascript:void(0);"><i class="feather-mic"></i></a>
                                                            <button type="submit" class="btn btn-primary btn_send"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <!-- Chat Profile -->
                                        <!-- (Chat Profile Code Remains the Same) -->
                                    </div>
                                    <!-- /Chat Content -->
                                </div>
                            </div>

                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

</div>