@model List<AdminUser>

<div class="page-wrapper page-settings">
    <div class="content">
        <div class="content-page-header content-page-headersplit">
            <h5>Customers</h5>
            <div class="list-btn">
                <ul>
                    <li>
                        <a class="btn-filters active" href="customers.html"><i class="fe fe-list"></i> </a>
                    </li>
                    <li>
                        <a class="btn-filters" href="localization.html"><i class="fe fe-settings"></i> </a>
                    </li>
                    <li>
                        <div class="filter-sorting">
                            <ul>
                                <li>
                                    <a href="javascript:void(0);" class="filter-sets"><img src="assets/img/icons/filter1.svg" class="me-2" alt="img">Filter</a>
                                </li>
                                <li>
                                    <span><img src="assets/img/icons/sort.svg" class="me-2" alt="img"></span>
                                    <div class="review-sort">
                                        <select class="select">
                                            <option>A - Z</option>
                                            <option>Z - A</option>
                                        </select>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 ">
                <div class="table-resposnive">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>User Name</th>
                                @* <th>Mobile</th> *@
                                <th>Reg Date</th>
                                @* <th>Address</th> *@
                                @* <th>DOB</th> *@
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.UserId</td>
                                    <td class="table-namesplit">
                                        <a class="table-name">
                                            <span>@item.UserName</span>
                                            <p>@item.Email</p>
                                        </a>
                                    </td>
                                    @* <td>@item.PhoneNumber</td> *@
                                    <td>@item.CreatedDate.ToString("dd MMM yyyy")</td>
                                    @* <td>@item.DOB</td>
                                    <td>@item.Address</td> *@
                                    <td>
                                        <div class="table-actions d-flex">
                                            <button class="btn delete-table me-2" type="button" data-bs-toggle="modal" data-bs-target="#edit-customer">
                                                <i class="fe fe-edit"></i>
                                            </button>
                                            @* <button class="btn delete-table" type="button" data-bs-toggle="modal" data-bs-target="#delete-customer">
                                        <i class="fe fe-trash-2"></i>
                                        </button> *@
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Edit Customer -->
<div class="modal fade" id="edit-customer">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Customer</h5>
                <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fe fe-x"></i>
                </button>
            </div>
            <div class="modal-body pt-0">
                <form>
                    <div class="profile-upload mb-3">
                        <div class="profile-upload-img">
                            <img src="assets/img/customer/user-01.jpg" alt="img" id="blah">
                        </div>
                        <div class="profile-upload-content">
                            <div class="profile-upload-btn">
                                <div class="profile-upload-file">
                                    <input type="file" id="imgInp">
                                    <a href="javascript:void(0);" class="btn btn-upload">Upload</a>
                                </div>
                                <a href="javascript:void(0);" class="btn btn-remove">Remove</a>
                            </div>
                            <div class="profile-upload-para">
                                <p>* Recommends a minimum size of 320 x 320 pixels. Allowed files .png and .jpg.</p>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" value="John Doe">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control" value="johndoe">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control" value="johndoe@example.com">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Phone</label>
                        <input type="text" class="form-control" value="302-372-7812">
                    </div>
                    <div class="form-groupheads d-flex d-flex justify-content-between mb-4">
                        <h2>Status</h2>
                        <div class="active-switch">
                            <label class="switch">
                                <input type="checkbox" checked="">
                                <span class="sliders round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="text-end">
                        <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Customer -->
