@{
	var paginatedSubCategories = ViewBag.SaveResponse as SCAPI.WebFront.Controllers.FileUploadViewModel;
	ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Truelysell | Template</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

	<!-- Fearther CSS -->
	<link rel="stylesheet" href="assets/css/feather.css">

	<!-- select CSS -->
	<link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

	<!-- Datetimepicker CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/style.css">

</head>

<body>


	<div class="main-wrapper">


		<div class="content">
			<div class="container">
				<div class="row">

					<div class="col-lg-3 theiaStickySidebar">
						<div class="settings-widget">
							<div class="settings-header">
								<div class="settings-img">
									<img src="assets/img/profiles/avatar-02.jpg" alt="user">
								</div>
								<h6>John Smith</h6>
								<p>Member Since Sep 2021</p>
							</div>
							<div class="settings-menu">
								<ul>
									<li>
										<a href="customer-dashboard.html">
											<i class="feather-grid"></i> <span>Dashboard</span>
										</a>
									</li>
									<li>
										<a href="customer-booking.html">
											<i class="feather-smartphone"></i> <span>Bookings</span>
										</a>
									</li>
									<li>
										<a href="customer-favourite.html">
											<i class="feather-heart"></i> <span>Favorites</span>
										</a>
									</li>
									<li>
										<a href="MerchantResponseToUser/Index" class="active">
											<i class="feather-credit-card"></i>  <span>Merchant Response</span>
										</a>
									</li>
									<li>
										<a href="customer-reviews.html">
											<i class="feather-star"></i> <span>Reviews</span>
										</a>
									</li>
									<li>
										<a href="customer-chat.html">
											<i class="feather-message-circle"></i> <span>Chat</span>
										</a>
									</li>
									<li>
										<a href="customer-profile.html">
											<i class="feather-settings"></i> <span>Settings</span>
										</a>
									</li>
									<li>
										<a href="index.html">
											<i class="feather-log-out"></i> <span>Logout</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-lg-9">
						<!-- Wallet Transactions -->
						<h6 class="user-title">Upload Your Documents.</h6>
						<form method="post" action="UploadDocuments" enctype="multipart/form-data">
							<div class="form-group">
								<label for="fileUpload">Choose Files:</label>
								<input type="file" class="form-control" id="fileUpload" name="files" multiple accept=".pdf,.jpg,.png">
							</div>

							<button type="submit" class="btn btn-primary">Upload Files</button>
						</form>
						<div class="table-responsive">
							<table class="table mb-0 custom-table">
								<thead class="thead-light">
									<tr>
										<th>#</th>
										<th>File Name</th>
										<th>File Type</th>
										<th>File Size</th>
										<th>Download</th>
										<th>Status</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									@if (paginatedSubCategories == null)
									{
										<p><em>Loading Sub Categories...</em></p>
									}
									else
									{

										@foreach (var file in paginatedSubCategories.UploadedFiles)
										{
											<tr>
												<td></td>
												<td>@file.FileName</td>
												<td class="text-body">@file.ContentType</td>
												<td class="text-body">@(file.FileSize / 1024) KB</td>
												<td class="text-body"><a asp-page="/DownloadFile" asp-route-fileName="@file.FileName" asp-route-folderName="@file.FolderName" class="btn btn-sm badge-success">Download</a></td>
												<td class="text-body">
													@if (file.Status == "Pending")
													{
														<span class="badge badge-warning">Pending Review</span>
													}
													else if (file.Status == "Rejected")
													{
														<span class="badge badge-danger">Rejected</span>
													}
													else if (file.Status == "Approved")
													{
														<span class="badge badge-success">Approved</span>
													}
												</td>
												<td></td>
											</tr>
										}
									}
								</tbody>
							</table>
						</div>
						<!-- /Wallet Transactions -->

					</div>

				</div>

			</div>
		</div>
		<!-- Cursor -->
		<div class="mouse-cursor cursor-outer"></div>
		<div class="mouse-cursor cursor-inner"></div>
		<!-- /Cursor -->

	</div>

	<!-- jQuery -->
	<script src="assets/js/jquery-3.7.0.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>

	<!-- Fearther JS -->
	<script src="assets/js/feather.min.js"></script>

	<!-- select JS -->
	<script src="assets/plugins/select2/js/select2.min.js"></script>

	<!-- Datetimepicker JS -->
	<script src="assets/js/moment.min.js"></script>
	<script src="assets/js/bootstrap-datetimepicker.min.js"></script>

	<!-- Sticky Sidebar JS -->
	<script src="assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
	<script src="assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

	<!-- Custom JS -->
	<script src="assets/js/script.js"></script>
	@section Scripts {
		<script>
			$(document).ready(function () {
				$("#fileUpload").change(function () {
					var fileInput = $(this)[0];
					var files = fileInput.files;

					var fileList = "";
					for (var i = 0; i < files.length; i++) {
						var file = files[i];
						fileList += file.name + "<br>";
					}

					$("#selectedFiles").html(fileList);
				});
			});
		</script>
	}
</body>
</html>